# Copyright (C) 2026 Energy Project Team
# SPDX-License-Identifier: AGPL-3.0-only
NODE=development

CONFIG_PATH=./spworlds.yaml

JWT_SECRET_KEY=
JWT_TOKEN_EXPIRE_MINUTES=43200

GITHUB_TOKEN=

MONGO_INITDB_HOST=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=